<div class="top-thin">
<h1 class="center black"> Need Some Help? </h1>
<p class="center black"> I would be happy to assist you! Shoot me an email at <b>alecaej2002@gmail.com</b> and I will get back to you pronto.
</p>
</div>

<div class="center">
  <p> <%= link_to "Home", root_path %> | <%= link_to "Privacy Policy", privacy_path %> | <%= link_to "Contact Us", contact_path %> </p>
</div>
