<div class="center">
  <h1 class="title"> Yay! You're All Set To Use Slash PH! </h1><br>
  <%= image_tag("https://media.giphy.com/media/xUOxf4hYse3e8vrRcI/giphy.gif", class: "image") %><br>
</div>
<div class="center">
  <p> <%= link_to "Home", root_path %> | <%= link_to "Privacy Policy", privacy_path %> | <%= link_to "Contact Us", contact_path %> </p>
</div>
