<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<a href="https://slack.com/oauth/authorize?client_id=219592720864.285551398295&scope=commands"><%= image_tag("slack-button.png") %></a>
