<div class="thin">
<h1 class="center">Slash PH Privacy Policy</h1>
<h2>Information we collect</h2>

<p>Slash PH for Slack is just for fun. We store <u><b>none</b></u> of your data - nothing</p>

<h2>Do we use cookies?</h2>

<p>Nope.</p>

<h2>Third party links</h2>

<p>Occasionally, at our discretion, we may include or offer third party products or services on our website.
These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.
Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

<h2>Your consent </h2>

<p>By using our site, you consent to our privacy policy.</p>

<h2>Changes to our privacy policy</h2>

<p>If we decide to change our privacy policy, we will post the changes on this page.
Last updated on December 18th, 2017.</p>

<h2>Contacting us</h2>

<p>If you have any questions regarding this privacy policy you may contact Alec Jones here: <b>alecaej2002@gmail.com</b></p>
</div>
<div class="center">
  <p> <%= link_to "Home", root_path %> | <%= link_to "Privacy Policy", privacy_path %> | <%= link_to "Contact Us", contact_path %> </p>
</div>
